@import 'utility';
$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  height: 100vh;
}

body {
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
  text-align: center;
  background: #2c3e50; /* fallback for old browsers */
  background: -webkit-linear-gradient(bottom, #2c3e50, #4ca1af); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #2c3e50, #4ca1af); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // background-color: rgb(189, 223, 130);
  // background-image: -webkit-linear-gradient(top, rgb(189, 223, 130), rgb(37, 52, 76));
  // background-image: -moz-linear-gradient(top, rgb(189, 223, 130), rgb(37, 52, 76));
  // background-image: -o-linear-gradient(top, rgb(189, 223, 130), rgb(37, 52, 76));
  // background-image: linear-gradient(to bottom, rgb(189, 223, 130), rgb(37, 52, 76));
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: rgb(203, 203, 203);
}

.Gameboard,
table {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  transition: all 0.5s ease;

  tbody {
    border-spacing: 0;

    td {
      height: 20px;
      width: 20px;
      border: 2px solid black;
      text-align: center;
      line-height: 16px;
      border-radius: 4px;
      cursor: pointer;

      &.unrevealed {
        background-color: lightgreen;
      }

      &.empty,
      &.numbered {
        background-color: white;
      }

      &.bomb {
        background-image: url('../images/bomb.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-color: red;
      }

      &.flagged {
        background-image: url('../images/flag.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-color: lightgreen;
      }

      &.flagbomb {
        background-color: green;
      }
    }
  }
}

.Home {
  a,
  h1 {
    color: white;
    font-size: 60px;
    text-decoration: none;
    -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    -moz-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  }

  @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
    }

    100% {
      -webkit-filter: blur(0);
      filter: blur(0);
      opacity: 1;
    }
  }

  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
    }

    100% {
      -webkit-filter: blur(0);
      filter: blur(0);
      opacity: 1;
    }
  }
}

footer,
h6 {
  display: flex;
  justify-content: center;
}
